---
import FormContainer from '~/components/ui/Form.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { Contact } from '~/types';
import Features3 from './Features3.astro';
import HeroText from './HeroText.astro';

const {
  inputs,
  textarea,
  disclaimer,
  button,
  description,
  id,
  isDark = false,
  bg = await Astro.slots.render('bg'),
} = Astro.props as Contact;
---

<WidgetWrapper id={id} isDark={isDark} bg={bg}>
  {
    inputs && (
      <div class="flex flex-col max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow p-4 sm:p-6 lg:p-8 w-full">
        <FormContainer
          inputs={inputs}
          textarea={textarea}
          disclaimer={disclaimer}
          button={button}
          description={description}
        />
      </div>
    )
  }
</WidgetWrapper>
<WidgetWrapper id={id} isDark={isDark} bg={bg}>
  <HeroText title="Nos coordonnées" />
  <br />
  <div
    class="flex flex-col max-w-xl mx-auto rounded-lg backdrop-blur border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900 shadow sm:p-6 lg:p-8 w-full"
  >
    <Features3
      columns={2}
      items={[
        {
          title: 'GILABERT Anthony',
          description: 'gilaccess2a@gmail.com<br />06.84.62.55.73',
          icon: 'tabler:template',
        },
        {
          title: 'Adresse',
          description: 'Immeuble Martinetti B<br /> Route de Mezzavia 20167 AJACCIO',
          icon: 'tabler:template',
        },
      ]}
    />
  </div>
</WidgetWrapper>
